.ContactForm {
  .form-container {
    max-width: 900px;
    margin: 0 auto;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input, textarea {
    background: #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    font-size: 1.2rem;

    font-family: "Montserrat", sans-serif;
    border-width: 0;
    border-radius: 2px;
  }

  input {
    height: 60px;
  }

  textarea {
    width: 100%;
    margin-top: 10px;
    resize: vertical;
  }

  .form-link {
    text-align: right;
  }

  @media screen and (min-width: 768px) {
    padding: 60px;
    background-image: url("/images/favorites-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .input-wrapper {
      flex-direction: row;
    }

    input {
      width: 50%;
    }

    input, textarea {
      background: #fff;
    }
  }
}
