.Favorites {

  padding: 60px;

  height: 840px;
  background-image: url("/images/favorites-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
  }

  .grid-container {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    padding: 5px;
    font-size: 30px;
    text-align: center;

    img {
      width: 420px;
    }
  }

  .favorites-item-text {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
  }

  .link-block {
    margin: 60px;
  }
}
