.Favorites {
  z-index: 100;
  position: relative;
  padding: 2em;
  background-attachment: fixed;
  background-image: url("/images/favorites-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3em;
  }

  .grid-container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .grid-item {
    padding: 5px;
    font-size: 2em;
    text-align: center;
  }

  .img-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
      transition: transform 0.3s, filter 0.3s;

      &:hover {
        transform: scale(1.05);
        filter: brightness(80%);
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  .favorites-item-text {
    text-align: left;
    font-size: .6em;
    font-weight: 500;
  }

  @media screen and (min-width: 768px) {
    .grid-container {
      margin: 2em;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .link-block {
      margin: 3em;
    }
  }
}
