.Favorites {
  // TODO: hack for marquee
  z-index: 100;
  position: relative;
  // hack for marquee

  padding: 2em;

  background-image: url("/images/favorites-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3em;
  }

  .grid-container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .grid-item {
    padding: 5px;
    font-size: 30px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
    }
  }

  .favorites-item-text {
    text-align: left;
    font-size: .6em;
    font-weight: 500;
  }

  .link-block {
    margin: 60px;
  }

  @media screen and (min-width: 768px) {
    .grid-container {
      margin: 2em;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }
}
