.History {
  // TODO: rename that shitty name, review this fix
  .section * {
    z-index: 2; // For hero text
  }

  .summary-arrow {
    margin: 40px 0 60px 0;
    text-align: center;
  }

  // TODO: use flex like the other collage
  .summary-section {
    display: flex;

    .side-text {
      font-size: 20px;
      writing-mode: tb-rl;
      transform: rotate(-180deg);

      text-align: center;
      padding: 0 60px 0 20px;
    }

    .summary-text {
      font-size: 27px;
      font-family: "Montserrat", sans-serif;
      line-height: 1.154;

      padding: 60px 60px 0 60px;
      width: 320px;
    }
  }

  .history-main {
    padding: 2em;
    position: relative;
    max-width: 1200px;
    margin: auto;
    //text-align: center;
    z-index: 3;
  }


  @media screen and (min-width: 768px) {
    .history-main {
      text-align: center;
    }
  }

}
