.infinite-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background: #d8d9de;

  .carousel-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;

    .carousel-images {
      margin: 0 auto;
      display: flex;
      will-change: transform;

      img {
        justify-content: space-between;
        max-height: 30vh;

        object-fit: cover;

        flex-shrink: 0;
        width: auto;
      }
    }
  }
}
