.Product {
  h1 {
    font-weight: 400;
  }

  .container {
    max-width: 980px;
    margin: 0 auto;
  }

  hr {
    height: 1px;
    background-color: #e6e6e6;
    border: none;
    margin: 3em 0;
  }

  .nutritions-facts {
    max-height: 300px;
  }

  .nutritions-facts-link-container {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
      .product-info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .text-product-suggestions {
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: .5em;
        font-weight: 100;
      }

    .hide-on-desktop {
      display: none;
    }
  }
}
