@font-face {
    font-family: 'Raleway-Regular';
    src: local('Raleway-Regular'), url(./fonts/Raleway-Regular.ttf) format('woff');
}

@font-face {
    font-family: 'Aerolitecpone';
    src: local('Aerolitecpone'), url(./fonts/aerolitecpone.otf) format('woff');
}

@font-face {
    font-family: 'Sardonyx';
    src: local('Sardonyx'), url(./fonts/Sardonyx.otf) format('woff');
}

body {
    font-family: "Raleway-Regular";
}

a {
    border: none!important;
}

h1 {
    font-size: 90px;
    margin-bottom: 0;
}

h3 {
    margin-bottom: 0;
}

h3 a {
    color: #fff;
    text-decoration: none!important;
    position: relative;
}

h3 a:hover {
    opacity: .8;
}

h3 a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #CD7027;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}
h3 a:hover:before  {
    visibility: visible;
    transform: scaleX(1);
}

h4 {
    border-bottom: 1px solid #65411D;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.principal {
    height: 900px;
}

.header {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: "Raleway-Regular", sans-serif;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.header a {
    color: #07477D;
}

.brand {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 60%;
    padding: 70px;
    background-color: rgba(255, 255, 255, .9);
    border: 5px solid #CD7027;
}

.brand h1 {
    font-size:10vw;
}

.brand h1 .logo_1 {
    color: #65411D;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    font-family: "Sardonyx", sans-serif;
    margin-right: 15px;
}

.brand h1 .logo_2 {
    color: #F3A83C;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    font-family: "Aerolitecpone", sans-serif;
}

section {
    padding: 60px;
}

section .container {
    max-width: 1200px;
    margin: auto;
}

section.light {
    color: #000;
    background-color: rgb(234, 223, 220);
}

section.dark {
    background-color: rgb(234, 223, 220);
}

.location {
    max-width: 400px;
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid #65411D;
}

.pos-title {
    margin-bottom: 20px;
}

.point-of-sale .title {
    color: #000;
    font-size: 18px;
    margin-bottom: 0;
}

.point-of-sale .address {
    color: #404040;
}

footer {
    color: #fff;
    background-color: #1d191a;
    min-height: 260px;
    padding-top: -60px;
}

footer a {
    color: #F3A83C;
}

footer a:hover {
    color: #F3A83C;
}

footer .title {
    font-weight: bold;
    font-size: 22px;
    display: block;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}

footer .column {
    margin-bottom: 20px;
}

.timeline .timeline-item {
    display: flex;
    display: -ms-flexbox;
    margin-bottom: 1.2rem;
    position: relative
}

.timeline .timeline-item::before {
    background: #65411D;
    content: "";
    height: 100%;
    left: 11px;
    position: absolute;
    top: 1.2rem;
    width: 2px
}

.timeline .timeline-item .timeline-left {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.timeline .timeline-item .timeline-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px 0 2px .8rem
}

.timeline .timeline-item .timeline-icon {
    align-items: center;
    border-radius: 50%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 1.2rem;
    justify-content: center;
    text-align: center;
    width: 1.2rem
}

.timeline .timeline-item .timeline-icon::before {
    border: .1rem solid #F3A83C;
    border-radius: 50%;
    content: "";
    display: block;
    height: .4rem;
    left: .4rem;
    position: absolute;
    top: .4rem;
    width: .4rem
}

.timeline .timeline-item .timeline-icon.icon-lg {
    background: #F3A83C;
    line-height: 1.2rem
}

.timeline .timeline-item .timeline-icon.icon-lg::before {
    content: none
}

@media only screen and (max-width: 768px) {

    .brand img {
        width: 90%;
    }

    .brand h1 {
        font-size: 80px;
    }

    .header h2 {
        font-size: 20px;
    }
}
